.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-give-text{
  margin-left: 10px;
  text-align: left;
  position: relative;
  font-size: 20;
  padding-top: 10;
  padding-bottom: 10;
}
.App-give-user{
  margin-left: 10px;
  text-align: left;
  /* position: relative;
  font-size: 20;
  padding-top: 10;
  padding-bottom: 10; */
}
.App-giveaway-avatar{
  height: 100%;
  width: 100%;
  vertical-align: "middle";
}
.instaImage {
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}
.App-main{
  width: 100%;
  height: auto;
}
.App-card{
  width: 100%;
  height: auto;
}
table {
  width: 90%; /* Ширина таблицы */
  /* border: 2px double black; Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
  counter-reset: row-num;
  table-layout: fixed;
}
table tr {
  counter-increment: row-num;
}
/* Нумерация */
/* table tr td:first-child::before {
  content: counter(row-num) ". ";
} */
table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
th  {

  background-color: #8134AF; /*цвет ячеек */
  color: white;
  text-align: left; /* Выравнивание по левому краю */

  padding: 5px; /* Поля вокруг содержимого ячеек */
  /* border: 1px solid black; Граница вокруг ячеек */
}
td {
  text-align: left;
  padding: 5px; /* Поля вокруг содержимого ячеек
  /* border: 1px solid black; Граница вокруг ячеек */
  /* border-right: 1px solid #515BD4; */ /*вертикальный разделитель*/
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.paddingRow{
  padding: 5px 10px 5px 5px;
}
.footerStyle{
  background-color: white;
  font-size: 20px;
  color: white;
  border-top: 1px solid #F56040;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%
}
.phantomStyle{
  display: block;
  padding: 20px;
  height: 80px;
  width: 100%
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
